

.table-container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
}

td{
    font-size: smaller;
}

th {
    background-color: #f2f2f2;
}

.rmAll {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.rmAll:hover {
    background-color: #c0392b;
}

.vw{
    background-color:rgb(122, 214, 122);
    font-weight: bold;
    color: #ffffff;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.return{
    
    background-color: rgb(122, 214, 122);
    font-weight: bold;
    color: #fffcfc;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.rm{
    background-color: #e74c3c;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 5px;
}