.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    float: 1;
}

.footer-center {
    float: 1;
    text-align: center;
}

.footer-right {
    float: 1;
}

.output{
    margin-bottom: 80px;
}