.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
   
    vertical-align:middle;
}

.footer-left {
    float: left;
}

.footer-center {
    display: inline-block;
}

.footer-right {
    float: right;
}