.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(122, 214, 122);
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    
}

.footer-left {
    float: 1;
    text-align: left;
}

.footer-center {
    float: 1;
    text-align: center;
}

.footer-right {
    float: 1;
    text-align: right;
}

