
.dropdown-container {
    position: right;
    display: inline-block;
}

.dropdown-img {
    
    position: absolute;
    top: 40px;
    right: 35px;
    background: url('../images/dropdown-menu-icon-16.jpg') no-repeat;
    background-size: 50px 50px;
    width:50px;
    height:50px;
    cursor: pointer;

}

.dropdown-content {
    display: none;
    position: absolute;
    top: 67px;
    right: 25px;
    background-color: #333;
    min-width: 150px;
}

.dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #096b00;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.title{
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: rgb(122, 214, 122);
    border-radius: 10px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.5);
    border: 5px solid black;
}

header{
    margin-bottom: 30px;
    padding: 10px;
}

body {
    background-color: rgb(134, 134, 134);
}

section{
    margin-bottom: 80px;
}

