section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
}

.form-container label {
    display: block;
    margin-top: 10px;
}

.form-container input[type="text"],
.form-container select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.form-container input[type="radio"] {
    margin-right: 5px;
}

.form-container input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
